<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.sod.model.dao.MemberMapper">
    <resultMap id="memberDtoMap" type="memberDto">
        <id column="member_id" property="memberId"/>
        <result column="member_email" property="memberEmail"/>
        <result column="member_password" property="memberPassword"/>
        <result column="member_name" property="memberName"/>
        <result column="registration_date" property="registrationDate"/>
    </resultMap>

    <insert id="insertMember" useGeneratedKeys="true" keyProperty="memberId">
        insert into
        member(member_email, member_password, member_name)
        values (
        #{memberEmail}, #{memberPassword}, #{memberName}
        )
    </insert>
</mapper>
