<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.sod.model.dao.MemberMapper">
    <insert id="insertMember" useGeneratedKeys="true" keyProperty="memberId">
        insert into
        member(member_email, member_password, member_name,file_url)
        values (
        #{memberEmail}, #{memberPassword}, #{memberName}, #{fileUrl}
        )
    </insert>
    <select id="existsByEmail" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM member
        WHERE member_email = #{memberEmail}
    </select>
</mapper>
