<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh._01_loginform.login.dao.LoginMapper">

    <select id = "duplicateId" resultType = "MemberDto">
        select *
        from Member
        where member_email = #{id}
    </select>

    <insert id = "registerMember">
        insert into Member values(0,#{memberEmail},#{memberPassword},#{memberName},Now())
    </insert>
</mapper>

